<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Liono360_V2.0">
<listeners>
		<listener class-name="com.liono360.utility.Reporting" />
	</listeners>
  <test name="CRMTest">
  
    <classes>
    <!--Login-->
      <class name="com.liono360.loginPage.LoginTC_001"/>
     <!--Account--> 
      <class name="com.liono360.accounts.TC_001CreateAccount"/>
    
    </classes>
  </test> 
</suite> 